$outline-color:#017401;
$err-color: #a9362f;

input {
    width: 100%;
    border: none;
    border-radius: 3px;
    padding: 5px;
    transition: all 0.1s;
    font-size: 1.2rem;

    &:focus {
        outline: 2px solid $outline-color;
    }

}

.error {
    outline: 3px solid $err-color;
}