.container {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 20px 0 0 0;
    position: relative;

    .buttons {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        padding: 0 0 20px 0;
        border-bottom: 1px solid #3c474d;

        span {
            font-size: 1.1rem;
            font-weight: bold;
        }
    }

    .field {
        width: 80%;
        height: auto;
        background-image: url('http://ff-legends.com/images/pitch1.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        margin: 20px 0 0 0;
        padding: 20px 0 20px 0;
        display: grid;
        justify-content: center;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        grid-template-columns: repeat(3, 20%);
        grid-template-rows: repeat(4, 1fr);

        .teammate {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            transition: all 0.3s;

            &:hover {
                background-color: #134b157a;
                border-radius: 5px;
                cursor: pointer;
                overflow: hidden;

                img {
                    transform: scale(1.05);
                }
            }

            &:active {
                background-color: #134b15;
                border-radius: 5px;
                overflow: hidden;
            }

            img {
                height: 60px;
            }

            div {
                width: 100%;
                border-radius: 5px;
                overflow: hidden;

                h3 {
                    width: 100%;
                    padding: 3px;
                    text-align: center;
                    color: #e9e9e9;
                    background-color: #103e10ba;
                }
            }
        }

        .noteam {
            grid-row: 2 / span 2;
            grid-column: 1 / span 3;
            font-size: 1.2rem;
            color: #e9e9e9;
            font-weight: bold;
            text-align: center;
            background-color: #1f7727e6;
            padding: 15px 5px;
            border-radius: 5px;
            box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.75);
        }
    }
}

.GK {
    grid-row: 4 / span 1;
    grid-column: 2 / span 1;
}

.DL {
    grid-row: 3 / span 1;
    grid-column: 1 / span 1;
}

.DC {
    grid-row: 3 / span 1;
    grid-column: 2 / span 1;
}

.DR {
    grid-row: 3 / span 1;
    grid-column: 3 / span 1;
}

.ML {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
}

.MC {
    grid-row: 2/ span 1;
    grid-column: 2 / span 1;
}

.MR {
    grid-row: 2 / span 1;
    grid-column: 3 / span 1;
}

.ST {
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
}