$bg-color:#efefef;
$h1-color:#924243;
$err-color: #a9362f;


.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 20px 0 0 0;

    .form {
        width: 30%;
        background-color: darken($bg-color, 30);
        overflow: hidden;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 0 0 20px 0;

        h1 {
            width: 100%;
            font-size: 1.3rem;
            background-color: $h1-color;
            color: white;
            text-align: center;
            padding: 20px 0;
        }

        .error {
            color: $err-color;
            font-size: 1.2rem;
            text-align: center;
            padding: 10px 10px 0 10px;
        }

        div {
            margin: 20px;
            width: 75%;
            transition: all 0.3s;
        }

    }

}