.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .teamsribbon {
        width: 100%;
    }

    .homebanner {
        width: 100%;
        // margin: 20px 0 0 0;
        background-image: url('https://gdurl.com/7g3g');
        background-size: cover;
        background-repeat: no-repeat;
        height: 295px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;

    }

    .dreamteamspinner {
        width: 90%;
        margin: 20px 0 0 0;
        border-radius: 10px;
        overflow: hidden;

        h1 {
            width: 100%;
            font-size: 1.3rem;
            padding: 10px;
            text-align: center;
            background-color: #79c486;
        }
    }
}