
.container {
    width: 99%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 20px 0 0 0;

    .header {
        width: 40%;
        text-align: center;
        font-size: 1.5rem;
        padding: 10px 30px;
        background-color: #232f37;
        color: #f1f0f1;
    }

    .standingscontainer {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;


        .standingsheader {
            width: 100%;
            color: #232f37;
            background-color: #bcbcbc;
            border-bottom: 3px solid #924243;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 10px 0;

            .place {
                width: 5%;
                text-align: center;
                font-weight: bold;
                font-size: 1.2rem;
            }

            .team {
                width: 80%;
                text-align: center;
                font-weight: bold;
                font-size: 1.2rem;
            }

            .pts {
                width: 15%;
                text-align: center;
                font-weight: bold;
                font-size: 1.2rem;
            }
        }
    }
}