.container {
    position: relative;
    margin: 0px auto;
    overflow: hidden;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-image: url('https://c7.alamy.com/comp/2AY0AER/soccer-net-on-green-background-football-photo-2AY0AER.jpg');
    box-shadow: inset 0 0 0 1000px rgba(15, 53, 16, 0.79)
}